body {
  margin: 0;
  padding: 0;
}

input {
  display: block;
  margin: 10px auto 0 auto;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
  font-size: 16px;
}

input:focus {
  outline: none;
  border: 1px solid rgb(161, 161, 161);
}

label {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

button {
  display: block;
  margin: 30px auto;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: rgb(85, 104, 165);
}

button:disabled {
  background-color: rgb(201, 201, 201);
}

.container {
  display: flex;
  justify-content: center;
  width: 400px;
  border-radius: 30px;
  background-color: #f3f3f3;
  margin: 100px auto 0 auto;
}

@keyframes error {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.errorLabel {
  color: red;
  text-align: center;
  margin-top: 30px;
  animation: error 0.5s linear;
}

.showPass {
  display: block;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  color: #333333;
  border: none;
  background: none;
  position: absolute;
  top: 195px;
  right: 770px;
}

.test input {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
